body, html {
    height: 100%;
    margin: 0px 50px;
    
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;   
    color: inherit;
}

img {
    float: left;
    padding: 15px 10px 0px 10px;
    margin: -10px 0px 0px 0px;
}
/* MULAI HEADER */
.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#333;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.header-image {
    background-image: url("../images/image2.png");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* MULAI MENU*/
.topnav {
    overflow:auto;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.column {
    float: left;
}

/* MULAI CONTENT */
.column.left{
  width: 25%;
}

.column.right{
  width: 75%;
}

.column.mid{
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.post {
    box-shadow: 0 4px 8px 0 #888888;
    padding: 10px 10px 110px 10px;
    margin: 10px 0px 10px 0px;  
}


.map {
    box-shadow: 0 4px 8px 0 #888888;
    padding: 12px 0px 38px 26px;
    margin: 10px 13px 0px 0px;
}

.video-post {
    width: 640px;
    padding: 0px;
    border: 30px solid #333;
    margin: 0px 0px 0px 100px;
    border-radius: 25px;
}
.button {
    background-color: #333;
    float: right;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 33px;
    cursor: pointer;
    
}

/* MENU NAVIGASI KIRI */
.vertical-menu {
    width: 228px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
}

.vertical-menu a:hover {
    background-color: rgb(182, 182, 182);
}

.vertical-menu a.active {
    background-color: #333;
    color: white;
}
/* MULAI FOOTER*/
.footer{
  background-color:#333;
  text-align: center;
  padding: 10px;
  margin: 5px 0px 0px 0px;
}

/* LOGIN DAN DAFTAR */
.login-post {
    box-shadow: 0 4px 8px 0 #888888;
    padding: 10px 10px 10px 400px;
    margin: 10px 0px 10px 0px;  
}

.login-input{
    padding: 10px;
    height: 30px;
    width: 300px;
    font-size: 15;
}
.login-submit{
    background-color: #333;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 10px 10px 10px 100px;
    cursor: pointer;
    border-radius: 10px;
}